<div class="footer">
  <div class="footer-wrapper">
    <div class="footer-menu">
      <ul class="footer-menu-list">
        <li class="footer-menu-list-item"><a href="#">menu link</a></li>
        <li class="footer-menu-list-item"><a href="#">menu link</a></li>
        <li class="footer-menu-list-item"><a href="#">menu link</a></li>
        <li class="footer-menu-list-item"><a href="#">menu link</a></li>
        <li class="footer-menu-list-item"><a href="#">menu link</a></li>
        <li class="footer-menu-list-item"><a href="#">menu link</a></li>
      </ul>
    </div>
    <div class="footer-row">
      <p class="footer-row-paragraph">
          Nullam mattis luctus dolor, sed gravida tellus volutpat vel. 
          Maecenas mollis augue sed tortor molestie ornare. Proin dapibus 
          dictum eros ut adipiscing. Nullam ultrices dolor ut tristique 
          sollicitudin. Integer scelerisque urna est, sit amet aliquet 
          sapien accumsan quis. Nullam luctus semper vulputate. Nulla 
          egestas urna nec tellus ultrices elementum. Proin dapibus dictum 
          eros ut adipiscing. Nullam ultrices dolor ut tristique sollicitudin. 
          Integer scelerisque
      </p>
      <h1 class="footer-row-logo">The Site</h1>
    </div>
  </div>
</div>