<div class="primary">
  <div class="primary-content">
    <h1 class="primary-content-title">Aenean ac diam nec neque fringilla</h1>
    <p class="primary-content-paragraph">
      Integer eget mauris et urna pulvinar consectetur hendrerit eget mauris. 
      Praesent a interdum justo. Aenean ac diam nec neque fringilla cursus. 
      Donec iaculis tortor in nunc vehicula rutrum. Integer malesuada mollis 
      ligula at varius.
    </p>
    <p class="primary-content-paragraph">
      Integer eget mauris et urna pulvinar consectetur hendrerit eget mauris. 
      Praesent a interdum justo. Aenean ac diam nec neque fringilla cursus. 
      Donec iaculis tortor in nunc vehicula rutrum. Integer malesuada mollis 
      ligula at varius.
    </p>
    <p class="primary-content-paragraph">
      Integer eget mauris et urna pulvinar consectetur hendrerit eget mauris. 
      Praesent a interdum justo. Aenean ac diam nec neque fringilla cursus. 
      Donec iaculis tortor in nunc vehicula rutrum. Integer malesuada mollis 
      ligula at varius.
    </p>
    <p class="primary-content-paragraph">
      Integer eget mauris et urna pulvinar consectetur hendrerit eget mauris. 
      Praesent a interdum justo. Aenean ac diam nec neque fringilla cursus. 
      Donec iaculis tortor in nunc vehicula rutrum. Integer malesuada mollis 
      ligula at varius.
    </p>
    <p class="primary-content-paragraph">
      Integer eget mauris et urna pulvinar consectetur hendrerit eget mauris. 
      Praesent a interdum justo. Aenean ac diam nec neque fringilla cursus. 
      Donec iaculis tortor in nunc vehicula rutrum. Integer malesuada mollis 
      ligula at varius.
    </p>
  </div>

  <div class="primary-row">
    <div class="primary-row-article">
      <p class="primary-row-article-paragraph">
          Integer eget mauris et urna pulvinar consectetur hendrerit eget mauris. 
          Praesent a interdum justo. Aenean ac diam nec neque fringilla cursus. 
          Donec iaculis tortor in nunc vehicula rutrum. Integer malesuada mollis 
          ligula at varius. Dorce pila meracone.
      </p>
  </div>

    <div class="primary-row-highlights">
      <h1 class="primary-row-highlights-title">Aenean ac diam nec neque</h1>
      <ul class="primary-row-highlights-list">
        <li class="primary-row-highlights-list-item">
          <a href="#">
            Integer eget mauris et urna
          </a>
        </li>
        <li class="primary-row-highlights-list-item">
          <a href="#">
            Pulvinar consectetur hendrerit
          </a>
        </li>
        <li class="primary-row-highlights-list-item">
          <a href="#">
            Oget mauris praesent
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>